*.md
*node_modules
*venv
*env
*env.local
*env.development.local
*env.test.local
*env.production.local
*env.development
*env.test
*env.production
*localstack
*terraform
*postgres
*postgres.conf
*postgres.conf.local
*postgres.conf.test
*postgres.conf.production
*postgres.conf.development
*postgres.conf.test
*postgres.conf.production
*postgres.conf.development
*key
*localstack-data
*terraform_workspaces
*terraform_workspaces_gcp
*postgres_data
*postgres_data_gcp
*postgres_data_local
*postgres_data_production
*postgres_data_development
*postgres_data_test
*postgres_data_production
*postgres_data_development
*postgres_data_test
*plots/